<header>
  <div class="nav">
    <ul>
      <li class="logo">Acme</li>
      <li class="home">{{link-to 'Home' 'index' tagname='li'}}</li>
      <li class="blog">{{link-to 'Blog' 'blog' tagname='li'}}</li>
      <li class="contact">{{link-to 'Contact Us' 'contact-us' tagname='li'}}</li>
    </ul>
  </div>
</header>
{{outlet}}